body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    color: #f9faf8;
    background-color: #1f2937;
}

.logo {

}

.headerLinks {
    display: flex;
    gap: 25px
}

.rImage {
    width: 400px;
}

.imageRow {
    width: 100px;
    height: 100px;
    border: 2px solid black;
}