
body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    color: #f9faf8;
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
}

.headerLinks {
    display: flex;
    gap: 25px;
    color: #e5e7eb;
}

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    gap: 150px;

}

.leftText {
    width: 450px;
    margin: 50px 80px;
}

.rImage {
    width: 400px;
    margin: 50px 80px;
    border-radius: 50px;
    border: 2px solid #e0e5fb;
}

.leftText p {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #e5e7eb;
}

h1 {
    font-size: 48px;
    font-weight: 900px;
    margin: 0;
}

.button1 {
    padding: 8px 28px;
    border-radius: 8px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    border: 0px;
}

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section3 h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.imageContainer {
    display: flex;
    gap: 40px;
}


.imageRow {
    width: 160px;
    height: 135px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.imageContainer div p {
    width: 160px;
    text-align: center;
    margin: 5px 0 100px 0;
    color: rgb(96, 96, 96);
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;

}

.quote .quote1 {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    width: 820px;
    align-self: center;
    margin: 36px 0 0 0;
}

.quote .quote2 {
    width: 820px;
    align-self: center;
    text-align: end;
    font-size: 24px;
    font-weight: bold;
    padding-right: 80px;
    margin: 0 0 24px 0;
}

.section4 {
    margin: 75px 300px;
}

.blueBox {
    display: flex;
    background-color: #3882f6;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    color: #f9faf8;
    padding: 20px;
}

.blueBox button {

    padding: 0px 28px;
    border-radius: 8px;
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    border-color: #f9faf8;
    font-weight: bold;
    height: 30px;
}

.blueBox h3 {
    margin: 19px 0 3px 0;
}
.blueBox p {
    margin: 0 0 19px 0;
    color: #e0e5fb;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 14px;
    padding: 25px;
}